<div class="container">
  <ol class="breadcrumb">
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="active">List of Modules</li>
  </ol>
  <div class="row">
    <div class="col-lg-12">
      <div class="well clearfix">
        <div class="row">
          <div class="col-lg-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">WBD02</h3>
              </div>
              <div class="panel-body">
                Group Leader - MUHAMAD SYAHMIL IZWAN BIN HAJI JULANI
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">NWS04</h3>
              </div>
              <div class="panel-body">
                Group Leader - MUHAMMAD MUQRI BIN SUFRI
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">NWS05</h3>
              </div>
              <div class="panel-body">
                Group Leader - SITI RAIHANA BINTI MOKSIN
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">INS02</h3>
              </div>
              <div class="panel-body">
                Group Leader - MUHAMMAD AZIZI BIN KEFFLI
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">LIC02</h3>
            </div>
            <div class="panel-body">
              Group Leader - KHAIRUNNISA BINTI HAJI ZULKIFLI
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>