<!-- Your bootstrap3 container -->
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-2">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Navigation</div>
        <div class="panel-body">
          <p>Welcome to the dashboard. Use the navigation below to select parts of the attendance app.</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">List Groups</li>
          <li class="list-group-item">List GL / AGL</li>
          <li class="list-group-item">List Modules</li>
          <li class="list-group-item">Sample Attendance (view by GL)</li>
          <li class="list-group-item">Sample Attendance (view by ML)</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-10">
      <div class="well">
        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Total Number of Groups</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Total Number of Students</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Total Number of Modules</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>