<!-- Sample Navbar in bootstrap3 -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="../../../assets/logo.svg" class="img-responsive" style="width: 23px;">
      </a>
      <span class="navbar-brand">Angular + Bootstrap</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
          Link
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a href="#">Link</a>
      </li>
      <li class="dropdown" dropdown>

        <a dropdownToggle role="button">

          Dropdown
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">

          <li>
            <a href="#">Action</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">Separated link</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">One more separated link</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- Your bootstrap3 container -->
<div class="container">
  <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."> Button with tooltip
  </button>
  <button type="button" class="btn btn-info" (click)="openModal(template)">Create template modal</button>
  <a routerLink="/test" routerLinkActive="active" class="btn btn-primary">Test</a>
  <div class="row">
    <div class="col-lg-12">
      <ul>
        <li *ngFor="let item of items | async">
          <pre>{{ item | json }}</pre>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Below is a bootstrap3 modal with logic found in home.component.ts -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>