<div class="container">
  <ol class="breadcrumb">
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/attendances" routerLinkActive="active">Attendances</a>
    </li>
    <li class="active">WADT - Slot 1 - 23/04/2018</li>
  </ol>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Information</div>
    <div class="panel-body">
      <h4>Module: WADT</h4>
      <h4>Lecturer: Bahit Hamid</h4>
      <h4>Slot: 1</h4>
      <h4>Date: 23/04/2018</h4>
    </div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Students</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>DiICT(WBD)/06/16/0213 - ABDUL ALIM BIN MUHAMMAD YAMIN</p>
            <div class="row">
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio1" value="present" checked="checked"> Present
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio1" value="present"> Late
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio1" value="present"> Absent
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio1" value="present"> Excused
                  </label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="inputAttendanceExcuse" class="col-sm-2 control-label fixlabel">Remark</label>
                  <div class="col-sm-10">
                    <input type="text" name="" id="inputAttendanceExcuse" class="form-control" value="" required="required" pattern="" title="">
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <p>DiICT(WBD)/06/16/0215 - AMAL BATRISYIA BINTI JOSFERIDIN</p>
            <div class="row">
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio2" value="present" checked="checked"> Present
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio2" value="present"> Late
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio2" value="present"> Absent
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio2" value="present"> Excused
                  </label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="inputAttendanceExcuse" class="col-sm-2 control-label fixlabel">Remark</label>
                  <div class="col-sm-10">
                    <input type="text" name="" id="inputAttendanceExcuse" class="form-control" value="" required="required" pattern="" title="">
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <p>(WBD)/06/16/0216 - AWANGKU MOHAMMAD DANIEL BIN PENGIRAN WAHAB</p>
            <div class="row">
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio3" value="present" checked="checked"> Present
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio3" value="present"> Late
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio3" value="present"> Absent
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" name="presentRadio3" value="present"> Excused
                  </label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="inputAttendanceExcuse" class="col-sm-2 control-label fixlabel">Remark</label>
                  <div class="col-sm-10">
                    <input type="text" name="" id="inputAttendanceExcuse" class="form-control" value="" required="required" pattern="" title="">
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-large btn-block btn-success">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>